# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
services/*/node_modules
services/**/node_modules/
/.pnp
.pnp.js

# testing
/coverage
backend/coverage
frontend/coverage
packages/*/coverage

# next.js
/.next/
/out/
frontend/.next/
frontend/out/

# production
/build
backend/dist
backend/build-dist
frontend/dist
docs/dist
packages/*/dist
services/*/dist
services/**/dist/

# misc
.DS_Store
*.pem
.tmp-translate-venv/
.illustry/
packages/*/node_modules

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
